body {
  font-family: system-ui, sans-serif;
  background-color: aquamarine;
}

.hidden {
  display: none;
}

#post-list div {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

#post-list div:hover {
  background-color: darkblue;
}

#post-list .selected {
  background-color: #5a7cc0;
}

button {
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color:greenyellow;
}